*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#aboutImgContainer{
  height: 50%;
}

@keyframes animacionAbout{
  from {opacity: 0%; visibility: hidden;}
  to {opacity: 100%; visibility: visible;}
}
@keyframes animacionAboutOut{
  from {opacity: 100%; visibility: visible;}
  to {opacity: 0%; visibility: hidden;}
}
.claseAnimacionAbout{
  animation: animacionAbout 500ms forwards;
}
.claseAnimacionAboutOut{
  animation: animacionAboutOut 500ms forwards;
}